@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
    background-color: #FFCC99;
}

img {
    width:100%;
}

.logo {
    width: 50%;

}
.banner {
    background-image: url(../images/grilledchicken.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
}

.nav {
    padding:0;
    text-align:left;
    text-decoration: none;
}
    
.nav a {
    text-decoration: none;
    color: #0074D9;
    margin:0;
    padding:0;
}
ul {
    list-style-type: none;
    padding:0;
}
    
.nav {
  padding: 0;
}

.nav li {
  display: block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;

  color: #FF6633;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  background-color: #FF6633;
 color: #fff;
}

  .nav {
    text-align:right;
  }

  .nav li {
    display:inline-flex;
    padding:.25em;
  }

.title1 {
    text-align:center;
    margin: 0;
    padding: 0 0 .5rem;
    color:#FF6633
}

.title2 {
    text-align:center;
    margin: 0;
    padding:0 0 .5rem;
    color:#FF6633
}
    
.title3 {
    text-align:center;
    margin:0;
    padding: 0 0 .5rem;
    color:#FF6633
}
    
.weight {
    padding: 5rem 18rem;
}
    
.calculate {
    font-size: 1em;
    font-family:sans-serif;
    font-style: italic;
    font-weight:bold;
    padding:none;
    cursor: pointer;
}

.button {
    padding: 0 13.5rem 2rem;
}
    
.trial {
     font-size: 1.2em;
    font-family:sans-serif;
    font-style: italic;
    font-weight:bold;
    margin-bottom:1em;
    cursor: pointer;
    background-color: white;  
}
    
.fontcolour {
    color:#FF6633;
}

.footer {
background-color: #669933;
color: black;
}
    
.copyright {
    overflow: hidden;
    font-weight: 400;
    padding-top: 0.5rem;
    text-align: center;
    padding-left: 1rem;
    font-size:0.7em;
}    

.nav micro {
    padding:0;
    text-align:left;
    text-decoration: none;
}

@media only screen and (min-width: 38em) {

  .title,
  .nav {
    text-align:right;
  }
    
.title1 {
    text-align:center;
    margin: 0;
    padding:1.5rem;
    padding-left: 6em;
    padding-top: 0em;
    color:#FF6633;
    display: inline-flex;
}

.title2 {
    text-align:right;
    margin: 0;
    padding:1.5rem;
    padding-left: 2em;
    padding-top: 0em;
    color:#FF6633;
    display: inline-flex;
}
    
.title3 {
    text-align:right;
    margin:0;
    padding:1.5rem;
    padding-left:2em;
    padding-top: 0em;
    color:#FF6633;
    display: inline-flex;
}