@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
    background-color: #FFCC99;
}

*, *:after, *:before {
    box-sizing: inherit;
}

img {
    width:100%;
}

.logo {
    width: 30%;
    float: inherit;

}

ul {
    list-style-type: none;
    padding-right: 4rem;
}

.nav li {
  display: block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  color: #FF6633;
  text-decoration: none;
  overflow: hidden;
  font-weight: 400;
  padding-top: 0.5rem;
  text-align: right;
  padding-left: 0.5rem;
  font-size:1rem;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  background-color: #FF6633;
 color: #fff;
}

  .nav {
    text-align:right;
  }

  .nav li {
    display:inline-flex;
    padding:.25em;
  }

.title {
    text-align:center;
    padding: 0 0 0.5em;
    color:#FF6633;
    width: 100%;
    font-size: 2.0rem;
}

.current {
    color: black;
    font-weight: bold;
}

.goal{
    color: black;
    font-weight: bold;
    background-color: yellow;
}
    
.weight {
    xpadding: 5rem 18rem;
    background-color: yellow;
}
    
.calculate {
    font-size: 1em;
    font-family:sans-serif;
    font-style: italic;
    font-weight:bold;
    padding:none;
    cursor: pointer;
}

.button {
    xpadding: 0 13.5rem 2rem;
}

.title1 {
    text-align: center;
}

.title2 {
    text-align: center;
}

.title3 {
    text-align: center;
}
    
.h1 {
    color: #FF6633;
}

.h2 {
    color: #FF6633;
}

.day {
    padding-right: 2rem;
}
.trial {
     font-size: 1.2em;
    font-family:sans-serif;
    font-style: italic;
    font-weight:bold;
    margin-bottom:1em;
    cursor: pointer; 
}
    
.fontcolour {
    color:#FF6633;
}

.footer {
background-color: #FFFFFF;
color: black;
}
    
.copyright {
    overflow: hidden;
    font-weight: 400;
    padding-top: 0.5rem;
    text-align: center;
    padding-left: 1rem;
    font-size:0.7em;
}    

.nav micro {
    padding:0;
    text-align:left;
    text-decoration: none;
}
  img {
    width:100%;
}

.logo {
    width: 40%;

}
.banner {
    background-image: url(../images/grilledchicken.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding: 5rem 1rem;
    text-align: center;
}

.nav {
    padding:none;
    text-align:right;
    text-decoration: none;
}
    
.nav a {
    text-decoration: none;
    color: #0074D9;
    margin:0;
    padding:none;
}
ul {
    list-style-type: none;
    padding:0;
}
    
.nav {
  padding:none;
}

.nav li {
  display: block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;

  color: #FF6633;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  background-color: #FF6633;
 color: #fff;
}

  .nav {
    text-align:right;
  }

  .nav li {
    display:inline-flex;
    padding:.25em;
  }
    
    
.title1{
   float: left;
    color:#FF6633;
    width: 33.333%;
    text-align: center;
}
    
.title2{
    float:left;
    color:#FF6633;
    width: 33.333%;
    text-align: center;
}
    
.title3{
    float:left;
    color:#FF6633;
    width: 33.333%;
    text-align: center;
}

.calculate {
    font-size: 1em;
    font-family:sans-serif;
    font-style: italic;
    font-weight:bold;
    padding:none;
    cursor: pointer;
}

.h1 {
    color: #FF6633;
}

.h2 {
    color: #FF6633; 
}

.trial {
     font-size: 1.2em;
    font-family:sans-serif;
    font-style: italic;
    font-weight:bold;
    margin-bottom:1em;
    cursor: pointer; 
}
    
.fontcolour {
    color:#FF6633;
}

.footer {
background-color: #FFFFFF;
color: black;
}
    
.copyright {
    overflow: hidden;
    font-weight: 400;
    padding-top: 0.5rem;
    text-align: center;
    padding-left: 1rem;
    font-size:0.7em;
}    

.nav micro {
    padding:0;
    text-align:left;
    text-decoration: none;
}

@media only screen and (min-width: 38em) {

}
    
@media only screen and (min-width: 60em) {
    
}