@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width;60rem) {
    
    html {
        font size :110%;
    }
}   
@media only screen and (min-width; 90em) {
    
    html {
        font size :120%;
    }
}   
@media only screen and (min-width; 120em) {
    
    html {
        font size :130%;
    }
}   
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

a:link,
a:active {
outline: none;
}

a:focus {
    outline: 3px solid #FF9933;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.masthead {
    background-color:#FFCC99;
    overflow: hidden;
    display: block;
}
img {
  display: block;
  width: 100%;
  padding-right: 1rem;
}
.title {
    text-align:center;
    margin: 0;
    padding: 0 0 .5rem;
}
.intro {
    background-color:#FFFFFF;
    font-weight: 300;
    text-align:center;
    font-size: 1.25rem;
}
.nav {
    padding:0;
    text-align: center;
    text-decoration: none;
}
/* KEEP MARGIN, FOR LATER */
.nav a {
    text-decoration: none;
    color: #FF9933;
    margin:0;
    padding:0;
}
ul {
    list-style-type: none;
    padding:0;
}

.header {
    background-color: #E8E8E8;
    overflow: hidden;
    text-align: center;
}

.footer {
    background-color:#AAAAAA;
    overflow: hidden;
    font-weight: 400;
    padding-top: 0.5rem;
    text-align: center;
    padding-left: 4rem;
}

.lightgrey {
    background-color: #E8E8E8;
    overflow: hidden;
}

.mediumgrey {
    background-color: #D3D3D3;
}

body {
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited {
  color: #0074D9;
}

a:hover,
a:active {
  outline: none;
}

a:focus {
  outline: 3px solid #000;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  padding: 0.5em 0.75em;
  position: absolute;
  top: -3em;

  background-color: #000;

  color: #fff;
  font-size: 1.125em;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.masthead {
  overflow: hidden;
}

.title {
  display: block;

  text-align: center;
}

.nav {
  padding: 0;
}

.nav li {
  display: block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;

  color: #0074D9;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  background-color: #0074D9;

  color: #fff;
}

.section-dark {
  background-color: #ccc;
}

.section-mid {
  background-color: #e2e2e2;
}

.section {
  background-color: #efefef;
}

.intro {
  text-align: center;
}

.discovery-title-extra {
  display: none;
}

.table-outer {
  overflow-x: auto;
}

.table-inner {
  margin: 0 auto;
  max-width: 60em;
  min-width: 45em;
}

table {
  width: 100%;

  border-collapse: collapse;
}

th,
td {
  padding: 0.2rem;

  text-align: left;
}

thead th {
  background-color: #e2e2e2;
  border-bottom: 1px solid #ccc;
}

tbody th,
tbody td {
  border-bottom: 1px solid #e2e2e2;
}

form {
  margin: 0 auto;
  max-width: 35em;
}

label {
  display: block;
  margin-bottom: 0.03em;
  vertical-align: middle;
}

input,
textarea {
  margin: 0;
  padding: 0.4em;
  vertical-align: middle;
  width: 100%;

  border: 1px solid #ccc;

  font-size: 1rem;
}

fieldset {
  padding: 0;

  border: 0;
}

legend {
  font-style: italic;
}

textarea {
  height: 12em;
}

.radio {
  white-space: nowrap;
}

.radio input {
  width: auto;
}

.radio label {
  display: inline-block;
  margin-right: 0.75rem;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.copyright {
  text-align: center;
}

@media only screen and (min-width: 25em) {

  .nav {
    text-align: center;
  }

  .nav li {
    display: inline-block;
  }

  .nav-footer a,
  .nav-footer a:link,
  .nav-footer a:visited {
    display: inline-block;
  }

  .nav-footer li::after {
    content: "·";
    display: inline-block;
    width: 0.5em;

    color: #666;
    text-align: right;
  }

  .nav-footer li:last-child::after {
    content: none;
  }

  .discovery-title-extra {
    display: inline;
  }

}

@media only screen and (min-width: 38em) {

  .title,
  .nav {
    text-align: left;
  }

  .discovery-text {
    padding-right: 1.5rem;
  }

  .copyright {
    text-align: left;
  }

  .nav-footer {
    text-align: right;
  }

  th,
  td {
    padding: 0.5rem;
    text-align: left;
  }

}

@media only screen and (min-width: 60em) {

  .moon-text {
    padding-left: 1.5rem;
  }

  .stats {
    overflow: hidden;
  }

  .stats > dt {
    clear: left;
    float: left;
    margin-right: 0.75rem;
    width: 11em;
  }

  .stats > dd {
    float: left;
  }

  .discovery-text {
    padding-left: 1.5rem;
  }

  th,
  td {
    padding: 0.75rem;
    text-align: left;
  }

}


.copyright {
    background-color:#AAAAAA;
    overflow: hidden;
    font-weight: 400;
    padding-top: 0.5rem;
    text-align: center;
    padding-left: 5rem;
}    


label {
    display: block;
}

input + label {
display: inline-block;
}

button {
    font-size: 0.9em;
    font-family:sans-serif;
    border: 1.9px solid #000;
    font-weight:medium;
    padding: 0.3em 0.8em;
    cursor: pointer;
    background-color: white;   
}

.heading2 {
    text-align: center;
}

fieldset {    
border-style:none;
}

.button-box {
text-align: center;
padding-top: 1.0em;
}

.field {
font-size: 1.5em;
border-radius: 1px;
background-color: white;
padding:5.0em 1.5em;
border-style:none;
width: 100%;
}

.email {
font-size: 1.5em;
border-radius: 1px;
background-color: white;
padding:0em; 1.5em;
width: 100%;
border-style:none;
}

.name {
font-size: 1.5em;
border-radius: 1px;
background-color: white;
padding:0em; 1.5em;
width:100%;
border-style:none;
}

.age {
font-size: 1.5em;
border-radius: 1px;
background-color: white;
padding:0em; 1.5em;
width: 100%;
border-style:none;
}

.form {
background-color:#e2e2e2;
}

@media only screen and (min-width: 20em) {
    
    .masthead {
        text-align: center;
    }
    
    .nav li {
        display:inline-block;
    }
    
    .nav {
        text-align: center;
    }
    
    .footer {
        text-align: center;
    }
    
    .copyright {
        text-align: center;
} 

    .form {
background-color:#e2e2e2;
padding: inherit;
}
    
}
@media only screen and (min-width: 40em) {
    
    .title {
        float:left;
        margin: 0;
        padding:0;
    }
    
    .nav {
        padding:1rem;
        text-align: center;
    }
    .footer {
    text-align: right;
}
.copyright {
    text-align: left;
}
        .form {
background-color:#e2e2e2;
padding-left:2em;
padding-right:2em;
}

@media only screen and (min-width: 60em) {


dl {
    overflow: hidden;
}

dt {
    float: left;
    clear: left;
    width: 8rem;
}

dd {
    float: left;
    margin: 0;
    padding: 0;
}

.footer {
    text-align: right;
}
.copyright {
    text-align: left;
}
    
.form {
background-color:#e2e2e2;
padding-left:10em;
padding-right:10em;
    
}
    
.p {
text-align: center;
}
